<!DOCTYPE html>
<html>

<head>
    <title>Path of Diablo Attack Speed Calculator</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        .breakpoint-table .v-data-table__wrapper table {
            width: auto;
            text-align: right;
        }
        .breakpoint-table .vertical-label {
            writing-mode: vertical-lr;
            transform:  rotate(180deg);
        }
        .breakpoint-table.v-data-table > .v-data-table__wrapper > table > thead > tr > th.horizontal-label {
            text-align: center;
        }
        .breakpoint-table.v-data-table > .v-data-table__wrapper > table > thead > tr > th.border-off {
            border-bottom: 0;
        }
        .breakpoint-table tr.highlight-current {
            background-color: #F9FBE7;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container fluid>
                    <v-row justify="center">
                        <h1>Path of Diablo Attack Speed Calculator</h1>
                    </v-row>
                    <v-row justify="center">
                        <v-col cols="12" lg="2" md="4" class="px-8 grey lighten-5">
                            <h2>Character</h2>
                            <v-form name=myform>
                                <div>
                                    <h3>Basics</h3>
                                    <v-select name=char @input="updateCurrent" :items="characters" label="Class"
                                        v-model="charactersSelected" dense class="my-3"></v-select>
                                    <v-select name=charform @input="updateCurrent" :items="shapeShiftForms"
                                        label="Shape Shift" v-model="shapeShiftFormsSelected" dense
                                        :disabled="!isPlayableClass" class="my-3"></v-select>
                                    <v-select name=skill @input="updateCurrent" :items="skills" label="Skill"
                                        v-model="skillsSelected" dense class="my-3"></v-select>
                                    <v-text-field name=IAS type="number" @input="updateCurrent" label="Off-Weapon IAS%"
                                        v-model.number="iasOffWeapon" dense min="0" step="5" class="my-3"></v-text-field>
                                </div>
                                <div>
                                    <h3>Primary Weapon</h3>
                                    <v-autocomplete name=waffe @input="updateCurrent" :items="weaponsPrimary"
                                        label="Primary Weapon" v-model="weaponsPrimarySelected" dense persistent-hint :hint="`${weaponInfoPrimary.description} [${weaponInfoPrimary.wsm}]`" class="my-3"></v-autocomplete>
                                    <v-select v-if="isWeaponsPrimaryBarbHandednessNeeded" name=barbschwert @input="updateCurrent"
                                        :items="weaponsPrimaryBarbHandedness" label="Handedness"
                                        v-model="weaponsPrimaryBarbHandednessSelected" dense class="my-3"></v-select>
                                    <v-text-field name=wIAS1 type="number" @input="updateCurrent"
                                        label="Primary Weapon IAS%" v-model.number="iasWeaponPrimary" min="0" step="5" dense class="mt-6 mb-3">
                                    </v-text-field>
                                </div>
                                <div v-if="canDualWield == true">
                                    <h3>Secondary Weapon</h3>
                                    <v-autocomplete name=zweitwaffe @input="updateCurrent" :items="weaponsSecondary"
                                        label="Secondary Weapon" v-model="weaponsSecondarySelected" dense persistent-hint :hint="`${weaponInfoSecondary.description} [${weaponInfoSecondary.wsm}]`" class="my-3"></v-autocomplete>
                                    <v-text-field name=wIAS2 type="number" @input="updateCurrent"
                                        label="Secondary Weapon IAS%" v-model.number="iasWeaponSecondary" dense min="0" step="5" class="mt-6 mb-0">
                                    </v-text-field>
                                    <v-checkbox name="enableWsmBug" @input="updateCurrent" label="Apply WSM Bug"
                                        v-model="isWsmBug" dense class="my-0"></v-checkbox>
                                </div>
                                <div>
                                    <h3>Speed Increasing Skills</h3>
                                    <v-select name=fana @input="updateCurrent" :items="fanaticism"
                                        label="Fanaticism Level" v-model="fanaticismSkillIAS" dense class="my-3"></v-select>
                                    <v-select v-if="canFrenzy" name=frenzy @input="updateCurrent" :items="frenzy" label="Frenzy Level"
                                        v-model="frenzySkillIAS" dense class="my-3"></v-select>
                                    <v-select v-if="canWerewolf" name=wolf size=1 @input="updateCurrent" :items="werewolf"
                                        label="Werewolf Level" v-model="werewolfSkillIAS" dense class="my-3"></v-select>
                                    <v-select v-if="canBurstOfSpeed" name=tempo size=1 @input="updateCurrent" :items="burstOfSpeed"
                                        label="Burst of Speed Level" v-model="burstOfSpeedSkillIAS" dense class="my-3"></v-select>
                                </div>
                                <div>
                                    <h3>Speed Slowdown</h3>
                                    <v-select name=holyfrost @input="updateCurrent" :items="holyFreeze"
                                        label="Holy Freeze Level" v-model="holyFreezeSkillIAS" dense class="mt-3 mb-0"></v-select>
                                    <v-checkbox name=altern @input="updateCurrent" label="Decrepify"
                                        v-model="isDecrepify" dense class="my-0"></v-checkbox>
                                </div>
                            </v-form>
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col class="px-8">
                            <h2>Breakpoints</h2>
                            <h3>Current</h3>
                            <p>
                                Speed: {{ currentFpa }}{{ isCurrentFpaMaxed ? ', further IAS useless' : '' }}<br>
                                Frequency: {{ currentAps }}
                            </p>
                            <h3>Table</h3>
                            <breakpoints-table lazy :characters="characters" :characters-selected="charactersSelected"
                                :shape-Shift-Forms="shapeShiftForms"
                                :shape-Shift-Forms-Selected="shapeShiftFormsSelected"
                                :weapon-Info-Primary="weaponInfoPrimary" :weapon-Info-Secondary="weaponInfoSecondary"
                                :skills="skills" :skills-Selected="skillsSelected" :ias-Off-Weapon="iasOffWeapon"
                                :weapons-Primary-Selected="weaponsPrimarySelected"
                                :weapons-Secondary-Selected="weaponsSecondarySelected"
                                :ias-Weapon-Primary="iasWeaponPrimary" :ias-Weapon-Secondary="iasWeaponSecondary"
                                :fanaticism-Skill-Ias="fanaticismSkillIAS" :frenzy-Skill-Ias="frenzySkillIAS"
                                :werewolf-Skill-Ias="werewolfSkillIAS" :burst-Of-Speed-Skill-Ias="burstOfSpeedSkillIAS"
                                :breakpoints="breakpoints"
                                :current-fpa="currentFpa">
                            </breakpoints-table>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script type="text/x-template" id="breakpoints-table">
        <div>
            <!-- <table align="center" border="0" cellpadding="0" cellspacing="5">
                <tr><td class="title" colspan="2" align="center"><b>Data:</b></td></tr>
                <tr><td width="130">Character:</td><td>{{ characters[charactersSelected].text }}</td></tr>
                <tr v-if="shapeShiftFormsSelected > 0"><td>Wereform:</td><td>{{ shapeShiftForms[shapeShiftFormsSelected].text }}</td></tr>
                <tr><td>Primary Weapon:</td><td>{{ weaponInfoPrimary.text }}</td></tr>
                <tr v-if="weaponsSecondarySelected > 0"><td>Secondary Weapon:</td><td>{{ weaponInfoSecondary.text }}</td></tr>
                <tr><td>Skill:</td><td>{{ skills.find(s => s.value == skillsSelected).text }}</td></tr>
                <tr><td>Off-Weapon IAS:</td><td>{{ iasOffWeapon }}</td></tr>
                <tr v-if="weaponsPrimarySelected > 0 && weaponsSecondarySelected == 0"><td>Weapon-IAS:</td><td>{{ iasWeaponPrimary }}</td></tr>
                <tr v-if="weaponsPrimarySelected > 0 && weaponsSecondarySelected > 0"><td>Weapon-IAS:</td><td>{{ iasWeaponPrimary }} / {{ iasWeaponSecondary }}</td></tr>
                <tr v-if="fanaticismSkillIas > 0"><td>Fanaticism IAS:</td><td>{{ fanaticismSkillIas }}</td></tr>
                <tr v-if="frenzySkillIas > 0"><td>Frenzy IAS:</td><td>{{ frenzySkillIas }}</td></tr>
                <tr v-if="shapeShiftFormsSelected == 2 && werewolfSkillIas > 0"><td>Werewolf IAS:</td><td> {{ werewolfSkillIas }}</td></tr>
                <tr v-if="burstOfSpeedSkillIas > 0"><td>Burst of Speed IAS:</td><td>{{ burstOfSpeedSkillIas }}</td></tr>
            </table> -->
            <!-- <p align="center">Your primary weapon&rsquo;s WIAS is plotted vertically, your equipment&rsquo;s IAS is plotted horizontally.</p> -->
            <v-simple-table v-if="shapeShiftFormsSelected" dense class="breakpoint-table">
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th colspan="17 + (breakpoints.oIas > 70 ? 1 : 0)" class="horizontal-label">
                                Off-Weapon IAS
                            </th>
                        </tr>
                        <tr>
                            <th class="border-off"></th>
                            <th></th>
                            <th v-for="i in 15">{{5 * (i-1)}}</th>
                            <th v-if="breakpoints.oIas > 70">{{breakpoints.oIas}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th :rowspan="iasRows + 2 + (iasWeaponPrimary % 5 != 0 ? 1 : 0)" class="vertical-label">Primary Weapon IAS</th>
                        <tr v-for="j in iasRows + 1" :class="5 * (j-1) == iasWeaponPrimary ? 'highlight-current' : ''">
                            <th>{{5 * (j-1)}}</th>
                            <template v-for="(breakpoint, index) in breakpoints.breakpoints.slice((j-1)*15,((j-1)*15)+15)">
                                <td>{{breakpoint}}</td>
                            </template>
                            <td v-if="breakpoints.oIas > 70">{{breakpoints.nonStandardOffWeapon[j-1]}}</td>
                        </tr>
                        <tr v-if="iasWeaponPrimary % 5 != 0" class="highlight-current">
                            <th>{{iasWeaponPrimary}}</th>
                            <td v-for="(breakpoint, index) in breakpoints.nonStandardWeapon">{{breakpoint}}</td>
                        </tr>
                    </tbody>
                </template>
            </v-simple-table>
            <v-simple-table v-else dense class="breakpoint-table">
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th>IAS</th>
                            <th>attack speed [frames]</th>
                            <th>attacks per second</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="attackSkill.rollback == 100">
                            <tr v-for="(breakpoint, index) in breakpoints.breakpoints" :class="breakpoint[1] + ' frames per attack' == currentFpa ? 'highlight-current' : ''">
                                <td>{{ breakpoint[0] }}</td>
                                <td>{{ breakpoint[1] }}</td>
                                <td>{{ parseInt(2500 / (aidel + breakpoint[1])) / 100 }}</td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr v-for="(breakpoint, index) in breakpoints.breakpoints" :class="breakpoint[1] + ' frames per attack' == currentFpa ? 'highlight-current' : ''">
                                <td>{{ breakpoint[0] }}</td>
                                <td>{{ breakpoint[1] }}</td>
                                <td>{{ breakpoints.breakpointsAPS[index] }}</td>
                            </tr>
                        </template>
                    </tbody>
                </template>
            </v-simple-table>
        </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="calc.js"></script>
</body>

</html>

<!-- Mana Regen Method https://www.diabloii.net/forums/threads/beginner-frenzy-barb.738074/page-7#post-7276135 -->