<!DOCTYPE html>
<html>

<head>
    <title>Path of Diablo Attack Calculator</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container class="fill-height" fluid>
                    <v-row align="center" justify="center">
                        <h1>Path of Diablo Attack Speed Calculator</h1>
                    </v-row>
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">
                            <form name=myform>
                                <v-select name=char @input="changedCharacter" :items="characters" label="Character"
                                    v-model="charactersSelected" dense></v-select>
                                <v-select name=charform @input="changedShifted" :items="shapeShiftForms"
                                    label="Shape Shift" v-model="shapeShiftFormsSelected" dense></v-select>
                                <v-select name=waffe @input="changedPrimaryWeapon" :items="weaponsPrimary"
                                    label="Primary Weapon" v-model="weaponsPrimarySelected" dense></v-select>
                                <v-select name=barbschwert @input="changedBarbWeaponHandedness"
                                    :items="weaponsPrimaryBarbHandedness" label="Handedness"
                                    v-model="weaponsPrimaryBarbHandednessSelected" dense></v-select>
                                <p>{{ weaponInfoPrimary.description }} [{{ weaponInfoPrimary.wsm }}]</p>
                                <v-text-field name=wIAS1 type="number" @input="calculateBreakpoint"
                                    label="Primary Weapon IAS%" v-model.number="iasWeaponPrimary" dense></v-text-field>
                                <v-checkbox name="enableWsmBug" @input="calculateBreakpoint" label="Apply WSM Bug"
                                    v-model="isWsmBug" dense></v-checkbox>
                                <v-select name=zweitwaffe @input="changedSecondaryWeapon" :items="weaponsSecondary"
                                    label="Secondary Weapon" v-model="weaponsSecondarySelected" dense></v-select>
                                <p v-if="weaponsSecondary.length > 1">{{ weaponInfoSecondary.description }}
                                    [{{ weaponInfoSecondary.wsm }}]</p>
                                <v-text-field name=wIAS2 type="number" @input="calculateBreakpoint"
                                    label="Secondary Weapon IAS%" v-model.number="iasWeaponSecondary" dense></v-text-field>
                                <v-text-field name=IAS type="number" @input="calculateBreakpoint"
                                    label="Off-Weapon IAS%" v-model.number="iasOffWeapon" dense></v-text-field>
                                <v-select name=skill @input="calculateBreakpoint" :items="skills" label="Skill" v-model="skillsSelected" dense></v-select>
                                <v-select name=fana @input="calculateBreakpoint" :items="fanaticism"
                                    label="Fanaticism Level" v-model="fanaticismSkillIAS" dense></v-select>
                                <v-select name=frenzy @input="calculateBreakpoint" :items="frenzy" label="Frenzy Level"
                                    v-model="frenzySkillIAS" dense></v-select>
                                <v-select name=wolf size=1 @input="calculateBreakpoint" :items="werewolf"
                                    label="Werewolf Level" v-model="werewolfSkillIAS" dense></v-select>
                                <v-select name=tempo size=1 @input="calculateBreakpoint" :items="burstOfSpeed"
                                    label="Burst of Speed Level" v-model="burstOfSpeedSkillIAS" dense></v-select>
                                <v-select name=holyfrost @input="calculateBreakpoint" :items="holyFreeze"
                                    label="Holy Freeze Level" v-model="holyFreezeSkillIAS" dense></v-select>
                                <v-checkbox name=altern @input="calculateBreakpoint" label="Decrepify"
                                    v-model="isDecrepify" dense></v-checkbox>
                                <v-btn color="primary" @click="showIasTable">Show IAS Table</v-btn>
                            </form>
                            <h2>Results</h2>
                            <p>Speed: {{ currentFpa }}{{ isCurrentFpaMaxed ? ', further IAS useless' : '' }}</p>
                            <p>Frequency: {{ currentAps }}</p>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="calc.js"></script>
</body>

</html>

<!-- Mana Regen Method https://www.diabloii.net/forums/threads/beginner-frenzy-barb.738074/page-7#post-7276135 -->